body {
  background: #fc6f03;
  color: #222222;
  font-size: 3em;
  text-align: center;
  font-family:arial,sans-serif;
}

#main {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#question {
  margin: 10px;
  padding: 10px;
}

#answers {
  width: 50%;
  margin: auto;
}

#disclaimer {
  font-size: 0.3em;
  font-style: italic;
  position: fixed;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%,-5%);
}

a, a:visited {
  color: #222222;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

a:hover {
  background: #222222;
  color: #fc6f03;
  /* padding: 9px;
  border: 1px solid black; */
}

@media only screen and (max-width:767px) {
  body {
    font-size: 2em;
  }
}
